@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --roboto: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* body {
    background-color: #000;
} */

.navbar-info {
    position: relative;
    width: 100%;
    height: 500px;

    background:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        /* overlay oscuro */
        url("./../assets/images/fondo.jpg") no-repeat center center / cover;

    color: white;
}

/* NAVBAR */
nav {
    width: 100%;
    height: 70px;
    padding: 15px;
    /* padding-top: 40px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.886), rgba(0, 0, 0, 0));
}

.language-select {
    margin-top: 15px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    /* background: #000 url("./../assets/images/translate.png") no-repeat center; */
    background-color: #000;
    background-size: 20px 20px;

    width: 680px;
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.language-select option {
    background: #000;
    color: white;
}

/* TRANSLATE LOGIN */
.translate-login {
    display: flex;
    align-items: center;
    gap: 10px;
}

.login-button {
    background-color: #C11119;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 13px;
    text-decoration: none;
    font-weight: bold;
}

/* INFO */
.info {
    width: 100%;
    padding: 15px 30px;
}

.info h2,
p {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-family: var(--roboto);
}

.info h2 {
    font-size: 2rem;
    margin-top: 40px;
    font-weight: bold;
}

.info .input-email-btn-comenzar {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/* INPUT */
.input-group {
    position: relative;
    width: 100%;
}
.input-group input {
    background-color: rgba(0, 0, 0, 0.45);
    width: 100%;
    padding: 15px;
    border: 1px solid rgb(91, 91, 91);
    border-radius: 5px;
    font-size: 16px;
    color: white;
}
.input-group label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 16px;
    pointer-events: none;
    /* no interfiere con el click */
    transition: 0.2s ease all;
}
.input-group input:focus+label,
.input-group input:not(:placeholder-shown)+label {
    top: 11px;
    left: 10px;
    font-size: 11px;
    color: #fff;
    background: rgba(0, 0, 0, 0.45);
    padding: 0 5px;
    border-radius: 3px;
}
.input-email-btn-comenzar button {
    background-color: #E50914;
    border: none;
    padding: 16px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 150px;
    align-self: center;
    margin: 15px;
}

.curve-container {
    position: relative;
    height: 300px;
    background: #000;
    overflow: hidden;
}
.curve-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 5px;
    /* m치s grande para que se vea la curva */
    background: linear-gradient(to right,
            rgba(33, 13, 22, 1) 10%,
            rgba(184, 40, 105, 1),
            rgba(229, 9, 20, 1),
            rgba(184, 40, 105, 1),
            rgba(33, 13, 22, 1) 90%);
    clip-path: ellipse(100% 100% at 50% 80%);
}


/* TRENDING */
.trending {
    padding: 25px;
    background: linear-gradient(to top, #000, #000);
    color: white;
}

.trending h2 {
    margin-bottom: 1rem;
    font-size: 19px;
    font-weight: bold;
}
.slider-container {
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;

    /* ocultar scrollbar */
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.slider-container::-webkit-scrollbar {
    display: none;
}
.slider {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: flex-start;
}
.slider li {
    flex: 0 0 auto;
    width: 150px;
    scroll-snap-align: start;
    position: relative;
    /* necesario para .rank */
    overflow: visible;
    /* deja que el n칰mero se salga */
}
.slider img {
    width: 100%;
    /* 游녣 c치mbialo de 80% a 100% */
    display: block;
    border-radius: 10px;
}

.rank {
    position: absolute;
    bottom: -10px;
    left: -5px;
    font-size: 80px;
    /* grande como en Netflix */
    font-weight: bold;
    color: black;
    -webkit-text-stroke: 3px white;
    font-family: var(--roboto, sans-serif);
    z-index: 2;
    pointer-events: none;
}

/* CARD */
.text-motivos {
    background-color: #000;
    font-family: var(--roboto);
    color: white;
    font-size: 19px;
    padding: 20px 25px;
}

.motivos {
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 10px;
    /* espacio entre cards */
    padding: 10px 20px;
}

.card {
    background: linear-gradient(180deg, #192044 0%, #210E17 100%);
    border-radius: 0.75rem;
    padding: 1.5rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
    /* texto a la izq, icono a la der */
    align-items: flex-start;
    gap: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* contenedor para texto */
.card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* alineado a la izquierda */
    gap: 5px;
}

.card span {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.card p {
    font-size: 17px;
    color: #b3b3b3;
    font-family: var(--roboto);
    font-weight: 500;
    margin: 0;
    text-align: left;
    /* asegura alineaci칩n a la izq */
}

.card svg {
    flex-shrink: 0;
    align-self: flex-end;
    /* icono arriba a la derecha */
}


/* PREGUNTAS FRECUENTES */
.faq {
    background-color: #000;
    width: 100%;;
    /* margin: 40px auto; */
    color: #fff;
    font-family: Arial, sans-serif;
    padding: 25px;
    font-family: var(--roboto);
}

.faq-item {
    margin-top: 10px;
    border-bottom: 1px solid #333;
    margin-bottom: 8px;
}

.faq-question {
    width: 100%;
    background: #2d2d2d;
    color: #fff;
    border: none;
    padding: 18px 20px;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question img {
    width: 22px;
    transition: transform 0.3s ease;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    background: #2d2d2d;
    transition: max-height 0.4s ease, padding 0.4s ease;
    padding: 0 20px;
}

.faq-answer p {
    margin: 15px 0;
    font-size: 16px;
    line-height: 1.5;
}

/* activo */
.faq-item.active .faq-answer {
    max-height: 400px;
    /* suficiente para mostrar texto */
    padding: 15px 20px;
}

.faq-item.active .faq-question img {
    transform: rotate(45deg);
    /* el + se convierte en una x */
}

/* FOOTER */
.footer {
    padding: 40px 20px;
    background: #000;
    color: #b3b3b3;
    font-size: 14px;
}

.footer-contact {
    margin-bottom: 20px;
    font-size: 15px;
}

.footer-contact a {
    color: #b3b3b3;
    text-decoration: underline;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;
}

.footer-links li {
    margin-bottom: 10px;
    text-decoration: underline;
}

.footer-links a {
    color: #b3b3b3;
    text-decoration: none;
    transition: color 0.2s ease;
}

.footer-links a:hover {
    color: #fff;
}

/* FOOTER BOTTOM */
.footer-bottom {
    padding: 20px;
    background: #000;
    color: #b3b3b3;
    font-size: 13px;
}

.language-select {
    margin-bottom: 15px;
}

.language-select select {
    background: transparent;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 6px 30px 6px 10px;
    color: #fff;
    font-size: 14px;
    appearance: none;
    cursor: pointer;
}

/* Para que se vea igual en todos los navegadores */
.language-selected select:focus {
    outline: none;
    border-color: #fff;
}

.footer-country {
    margin: 10px 0;
    font-size: 14px;
    color: #b3b3b3;
    text-align: start;
}

.footer-legal {
    font-size: 12px;
    color: #808080;
    line-height: 1.4;
}

.footer-legal a {
    color: #0071eb;
    /* azul Netflix */
    text-decoration: none;
}

.footer-legal a:hover {
    text-decoration: underline;
}

/* Tablets en orientaci칩n vertical y horizontal */
@media (max-width: 768px)  {
    nav {
        justify-content: space-around;
    }

    .input-email-btn-comenzar {
        flex-direction: row;
        justify-content: center; /* centra el conjunto */
        gap: 15px;
        align-items: flex-start; /* alinea input y bot칩n arriba */
    }

    .input-group {
        width: 40%; /* input m치s peque침o */
    }

    .input-email-btn-comenzar button {
        width: auto; /* ancho autom치tico seg칰n contenido */
        margin: 0; /* eliminar margen superior */
    }
}


/* Desktop / pantallas grandes */
@media (min-width: 1025px) {
    .trending h2 {
        margin-top: 15px;
        font-size: 24px;    /* opcional: t칤tulo un poco m치s grande */
    }

    .input-group {
        width: 40%;            /* input m치s peque침o */
    }

}
